<h1>Admin</h1>
<a href="/admin/new/anime">
    <button class="">Cadastrar novo anime</button>
</a>

<a href="/admin/new/episode">
    <button class="">Cadastrar novos episódios</button>
</a>

<a href="/admin/new/category">
    <button class="">Cadastrar nova categoria</button>
</a>