<%- include('../head.ejs') %>
<%- include('../partials/header.ejs') %>


<section class="admin">
    <div class="container pt-5">
        <h1 class="white poppins pb-4">Admin</h1>
        <a href="/admin/new/anime">
            <button class="btn btn-padrao">Cadastrar novo anime</button>
        </a>

        <a href="/admin/new/episode">
            <button class="btn btn-padrao">Cadastrar novos episódios</button>
        </a>

        <a href="/admin/new/category">
            <button class="btn btn-padrao">Cadastrar nova categoria</button>
        </a>

        <a href="/admin/list">
            <button class="btn btn-padrao">Listar todos os animes</button>
        </a>
        <%- include('report_status') %>
    </div>
</section>