<%- include('../head.ejs') %>
<%- include('../partials/header.ejs') %>


<h1>Novo episodio</h1>

<form method="POST" action="/admin/create/episode">
    <input type="text" name="name" placeholder="Novo episodio"><br>
    <input type="text" name="link" placeholder="link do episodio"><br>
    <input type="text" name="link_frame" placeholder="iframe link do episodio" required><br>
    <select name="anime" required>
        <% animes.forEach((anime) => { %>
            <option value="<%= anime.id %>"> <%= anime.title %> </option>
        <% }) %>
    </select><br>
     <input type="radio"  value="1" name="status" checked>
      <label for="html">Ativado</label><br>

      <input type="radio"  value="0" name="status">
      <label for="css">Desativado</label><br>
    <button type="submit">Cadastrar</button>
</form>