<h1>Novo anime</h1>

<form method="POST" action="/admin/create" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Novo anime" required><br>
    <textarea name="description" rows="5"></textarea><br>
    <input type="file" name="file" accept="image/*" onchange="loadFile(event)" required><br>

    <select name="category" required multiple>
      <% categories.forEach((category) => { %>
          <option value="<%= category.name %>"> <%= category.name %> </option>
      <% }) %>
    </select><br>

    <button type="submit">Cadastrar</button>
</form>

<a href="/admin/new/episode">
  <button>Cadastro de Eps</button>
</a>

<img id="output" width="300"/>


<script>
    var loadFile = function(event) {
      var reader = new FileReader();
      reader.onload = function(){
        var output = document.getElementById('output');
        output.src = reader.result;
      };
      reader.readAsDataURL(event.target.files[0]);
    };
  </script>