<h1>Novo episodio</h1>

<form method="POST" action="/admin/create/episode">
    <input type="text" name="name" placeholder="Novo episodio" required><br>
    <input type="text" name="link" placeholder="link do episodio" required><br>
    <select name="anime" required>
        <% animes.forEach((anime) => { %>
            <option value="<%= anime.id %>"> <%= anime.title %> </option>
        <% }) %>
    </select><br>
    <button type="submit">Cadastrar</button>
</form>