@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --primary: #2b333f;
}
body{
    background-image: url('../static/assets/uploads/background.jpg');
    background-repeat: no-repeat;
    background-position: top;
}
/*ALL*/
.btn-pesquisa, .btn-padrao{
    background-color: #d95f5f;
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s all;
}
.btn-pesquisa:hover, .btn-padrao:hover{
    color: white;
    background-color: #a93f3f;
}

/*Navbar*/
.navbar{
    background-color: var(--primary);
}
.nav-item{
    border-left: 1px solid rgba(150, 163, 169,0.5)
}
.nav-item .nav-link{
    color:white !important;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    margin-left: 1rem;
    transition: 0.3s all;
}
.nav-item .nav-link:hover{
    opacity: 0.4;
}
.navbar-light .navbar-brand{
    color: #d95f5f !important;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

/*Index*/
.pt-container{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #1d2124e8;
    box-shadow: 4px 3px 21px 8px rgb(0 0 0 / 55%);
    min-height: 100%;
}

.episode{
    text-decoration: none;
    color: #d95f5f;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.episode:hover{
    opacity: 0.4;
    color: #d95f5f;
}
.capa-anime-details{
    max-width: 350px;
}
.anime-capa{
    width: 200px;
    object-fit: cover;
    height: 250px;
}
.category{
    display: grid;
    justify-content: center;
}
.category-item{
    background-color: var(--primary);
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0.5rem;
    max-width: 100%;
    width: 150px;
}
.iframe-anime{
    width: 100%;
    height: 500px;
}
/*Login*/
.login-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    background-color: #1d2124e8;
    box-shadow: 4px 3px 21px 8px rgb(0 0 0 / 55%);
    width: 500px;
    height: auto;
    padding:2rem;

}
/*Colors*/
.fs-20{
    font-size: 20px;
}
.fs-30{
    font-size: 30px;
}
.white{
    color: white;
}
.primary{
    color: var(--primary);
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.no-decoration{
    text-decoration: none;
}
.section-footer{
   
    width: 100%;
    height: 200px;
   
}
